body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
}

.main {
  padding: 6.4rem 4.3rem;
}

.main .content {
  text-align: center;
}

.main .title {
  font-size: 88px;
  font-weight: 600;
  letter-spacing: -4px;
}

.main .subtitle {
  font-size: 18px;
  padding-bottom: 4.3rem;
}
