.home {

    .projects-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.3rem;
        justify-content: center;
    }

    .project-card-link {
        text-decoration: none;
        color: inherit;
    }
}
