@import '../utils/variables';
@import '../utils/mixins';
@import '../utils/reset';

.project-item {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: $white;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
    border-radius: .8rem;
    display: flex;
    align-items: center;

    .project-image {
        max-width: 30rem;
        height: auto;
        border-radius: .8rem;
        margin-right: 2rem;
    }

    .project-details {
        flex: 1;

        h2 {
            font-size: 1.8rem;
            margin-bottom: .5rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }

        .technologies {
            margin-top: 1rem;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}
