@import '../utils/variables';
@import '../utils/mixins';

.footer {
    background-color: $gray;
    border-bottom: .1rem solid $gray2;
    border-top: .1rem solid $gray2;
    padding: 2rem 1rem;
    text-align: center;

    .social {
        margin-top: 1rem;

        a {
            display: inline-block;
            color: $white;
            text-decoration: none;
            margin: 0 .5rem;

            &:hover {
                opacity: .8;
            }
        }
    }
}
