.project-card {
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    text-align: center;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-details {
        margin-top: 10px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 10px;
        }

        p {
            font-size: 1rem;
            margin-bottom: 10px;
        }

        .technologies {
            strong {
                font-weight: bold;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    display: inline;
                    margin-right: 10px;
                    background: #f1f1f1;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
        }
    }
}
