@import '../utils/variables';
@import '../utils/mixins';

.project-card {
    width: 32%;

    .project-image {
        border-radius: .4rem;
        height: 16rem;
        overflow: hidden;
        width: 100%;

        img {
            height: inherit;
            object-fit: cover;
            width: 100%;
        }
    }

    .project-details {
        margin-top: .9rem;
        text-align: left;

        h2 {
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: .7rem;
        }

        .technologies {
            margin-bottom: .5rem;

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    display: inline;
                    font-size: .7rem;
                    margin-right: .5rem;
                    background: $gray3;
                    padding: .5rem 1rem;
                    border-radius: .5rem;
                }
            }
        }
    }
}
